@media(max-width:670px){
  header{
    height:75px;
  }
  .header-logo{
    font-size: 30px;
    margin-left:5px;
    line-height: 50px;
  }
  .header-bar{
    line-height: 60px;
  }
  .main{
    background-image: none;
    background-color: #000;
    height:1300px;
  }
  .main h2{
    font-size:50px;
    border-bottom:4px solid #fff;
    color:#fff;
  }
  .contents-item p{
    color:white;
  }
  /* modal */
  /* contents-modal */
  .contents{

  }
  .modal{
    margin-left:5%;
    background-color:rgba(255,255,255,0.7);
  }
  .modal p{
    color:#000;
  }
  .fa-times{
    color:black;
  }
  /* menu-modal */
  .menu{
    margin-left: 40%;
    position: absolute;
    top:75px;
    position: fixed;
  }
  .contact-form{
    width:350px;
    margin-left:8%;
  }
  .contact-form h2{
    font-size:30px;
  }
  input,textarea{
    font-size:15px;
    width:300px;
    border-radius: 5px;
    border:1px solid #dee7ec;
  }
}
