html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

.header-list li {
  list-style: none;
  padding:30px 20px;
  float:left;
}

/* ここからCSSを記述してください */
header{
  background-color:#26d0c9;
  color:#fff;
  height:90px;
}

.header-logo{
  padding:20px 40px;
  font-size:36px;
  float:left;
 }

.main h2{
  border-bottom:4px solid #333;
}

.contents-item img{
  width:240px;
  height:240px;
  opacity:0.7;
  background-color: #708090;
}


.contents-item img:hover{
  opacity:1;
}

.main{
  background-image: url("images/tolbanaimg.png");
  background-size:cover;
  height:450px;
}

.contents-item p{
}
