html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}
/* hedder */
header{
  background-color:#26d0c9;
  color:#fff;
  height:50px;
  width:100%;
  margin-bottom: 0;
  position: relative;
  position: fixed;
}

.header-bar{
  font-size:40px;
  margin-top: 5px;
  line-height: 30px;
  float:right;
  margin-right: 40px;
}

.header-logo{
  padding:10px 0;
  margin-left:40px;
  font-size:20px;
  float:left;
 }

/* top */
.top{
  height:650px;
  background-size: cover;
  margin-top:0;
}

.top p{
  font-size:80px;
  text-align: center;
  display:none;
}

.top-first{
  margin-top: 150px;
  margin-bottom: 15px;
}

.top-second{

}
/* main */
.main{
  background-image: url("images/tolbanaimg.png");
  background-size:cover;
  height:600px;
  z-index: 2;
}

.main h2{
  border-bottom:4px solid #333;
  font-size:80px;
}

.motojime{
   display:flex;
   flex-wrap: wrap;
   margin-left:15%;
 }

.contents{
  margin:20px;
  margin-top:80px;
}

.contents-item{
  diplay:flex;
}

.contents-item img{
  width:240px;
  height:240px;
  opacity:0.9;
}


.contents-item img:hover{
  opacity:1;
}

.contents-item p{
  height:30px;
  font-size: 50px;
}

/* modal */

/* contents-modal */

.modal{
  width:350px;
  height:300px;
  position: absolute;
  top:130%;
  left: 35%;
  background-color: rgba(0,0,0,0.8);
  border-radius: 15px;
  z-index: 100;
  display:none;
}

.modal p{
  color:white;
  text-align: center;
  margin-top: 30px;
  font-size:25px;
}

.fa-times{
  position:absolute;
  top:12px;
  right: 10px;
  color:white;
}

.progate-title{
  width:180px;
  border-radius: 10px;
  margin-top:3px;
  margin-left:23%;
}

/* おしまい */

/* menu-modal */
.menu{
  width:180px;
  height:360px;
  margin-top:3px;
  margin-left:80%;
  padding: 25px;
  background-color:rgba(0,0,0,0.8);
  border-radius: 10px;
  position: absolute;
  top:50px;
  position: fixed;
  display: none;
}
.menu-contents{
   font-size: 35px;
   color:#000;
   display: block;
   text-align: center;
   cursor: pointer;
}

#top-btn{
  background-color: #fff;
  border-radius: 4px;
  margin-top:8px;
}

#about-btn{
  background-color: #fff;
  border-radius: 4px;
  margin-top:80px;
}

#contact-btn{
  background-color: #fff;
  border-radius: 4px;
  margin-top:80px;
  margin-bottom:8px;
}


.contact-form{
  width:550px;
  text-align: center;
  background-color: rgba(0,0,0,0.9);
  color:white;
  border-radius: 10px;
  position: absolute;
  top:60px;
  margin-left:25%;
  margin-top:8%;
  position: fixed;
  display: none;
}

.contact-form h2{
  font-size:40px
}

.contact-form p{
  margin-top:10px;
  font-size:20px;
}

input,textarea{
  font-size:18px;
  width:400px;
  border-radius: 5px;
  border:1px solid #dee7ec;
}

textarea{
  height:80px;
}

.send{
  background-color:#dee7ec;
  margin-bottom:15px;
}

.twitter{
  background-color: #00acee;
  color:white;
  padding:10px 15px;
  border-radius: 5px;
}
